:root {
  --image-size: 150px;
}

body {
  font-family: system-ui, sans-serif;
  max-width: 900px;
  margin: 0;
}

.controls-wrapper {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.controls {
  margin-bottom: 1em;
}

.controls button,
.controls select {
  margin-right: 8px;
  padding: 6px;
}

.product {
  position: relative;
  display: flex;
  cursor: pointer;
  margin-bottom: 2em;
}

.product:hover .overlay-icon {
  opacity: 0.92;
}

.product.bought .product-info {
  text-decoration: line-through;
  opacity: 0.6;
}

.product:not(:last-child)::after {
  content: "";
  position: absolute;

  /* horizontal alignment: center of image */
  left: calc(var(--image-size) / 2);

  /* vertical placement: just below this item */
  bottom: -1em;

  width: 2em;
  height: 2em;
  background: #eee;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;
}


.image-wrapper {
  position: relative;
  height: var(--image-size);
  width: var(--image-size);
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay-icon circle {
  r: 50;
  cx: 75;
  cy: 75;
  fill: white;
}

.overlay-icon {
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.price {
  font-weight: bold;
}

#sentinel {
  height: 40px;
}






















