body {
  font-family: system-ui, sans-serif;
  max-width: 900px;
  margin: 0;
}

.controls-wrapper {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.controls {
  margin-bottom: 20px;
}

.controls button,
.controls select {
  margin-right: 8px;
  padding: 6px;
}

.product {
  display: flex;
  cursor: pointer;
}

.product:hover .overlay-icon {
  opacity: 0.8;
}

.product.bought .product-info {
  text-decoration: line-through;
  opacity: 0.6;
}


.image-wrapper {
  position: relative;
  height: 150px;
  width: 150px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-wrapper::after {
  content: "";
  position: absolute;
  bottom: -18%;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 60%;
  background: #eee;
  border-radius: 50%;
}

.overlay-icon circle {
  r: 50;
  cx: 75;
  cy: 75;
  fill: white;
}

.overlay-icon {
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.price {
  font-weight: bold;
}

#sentinel {
  height: 40px;
}


















